* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.hero {
  height: 100vh;
  background: #111;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.hero h1 {
  font-size: 48px;
}

.hero a {
  background: white;
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 8px;
}

.about {
  padding: 80px 20px;
  text-align: center;
}

.projects {
  padding: 50px 20px;
  background: #f4f4f4;
  text-align: center;
}

.project {
  margin-top: 20px;
}